/* @import   './images/background.jpeg'  */

.apps {
  margin:0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family:  'Solway', serif;
  background-color: #f4f4f4;
}
li{
  list-style-type: none;
}
footer{
  background-color: #181818;
}
/* utilities */
img{
  max-width: 100%;
  height: 500px;
  /* height:; */
}
a{
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 1rem;
  border: none;
  background: #e50914;
  text-align-last: center;
  color: #fff;
  outline: none;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0,0,0,0.45);
  border-radius: 4px;
}
.btn:hover{
  opacity: 0.9;
}
.primary-btn{
  display: inline-block;
  padding: 1rem;
  border: none;
  background: #e50914;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.primary-btn:hover{
  opacity: 0.9;
}
.btn-lg{
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
  font-size: 2rem;
}
/* //Header styling */
nav{
  background-color: #35424a;
  border-bottom: #e8491d 3px solid;
  padding-top: 20px;
  color: #ffffff;
  width: 100%;
  overflow: none;
  min-height:70px;
  position: fixed;
  top: 0;
  /* display: grid;
  grid-template-columns: repeat(2,1fr); */
}
nav .container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
nav ul{
  margin: 0;
  padding: 0;
}
nav #links{
  justify-self: flex-end;
}
nav li{
  display: inline;
  padding-right: 1.5rem;
  text-transform: capitalize;
}
nav a{
  color:#181818;
  font-size: 16px;
}
nav a:hover{
  text-decoration: underline;
  color:#cccccc;
  font-weight: bold;
}
nav .highlight, nav .current a {
  color:#e8491d;
  font-weight: bold;
}
#branding h1{
  margin: 0;
}

.current{
  color:#e8491d;
  font-weight: bold;
}
#dash{
  /* max-height:100vh; */
  margin-top: 3.99rem;
  
}
.container{
  max-width: 80%;
  margin: auto;
  overflow: hidden;
}
#views .container{
  padding:2rem;
}

/* add coponent */
#add{
  background: #181818;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 1.5rem;
  color: #ffffff;
  /* height: 10vh; */
}
#add form{
  width:80%;
  margin: auto;
  /* align-content: center; */
}
form h1{
  text-align: center;
}
form label{
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
}
form .form-control{
  display: block;
  width:100%;
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  border-radius: 8px;
  background: #181818;
  color: #885566;
  font-size: 2rem;
  border: 1px solid #f9681f;
}


/* venue display links */
#displays{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 3rem;
  padding: .5rem;
  /* border: 100px solid #f9681f; */
}

/* login component */
#login{
  height:85vh;
  background: #333;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  /* padding:1rem; */
}
#login form{
  /* width:80%;
  margin: auto; */
  /* align-content: center; */
  padding: 1rem;
  margin-top: 3rem;
}

/* home styless */
#home{
  color:#181818;
  text-align: center;
}
#home h1{
  font-size: 3rem;
  margin-top: 100px;
}
 .bg-image{
  background-image: url("./images/background2.jpeg");
  background-attachment: scroll;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; /** moved this property down */
}
.newsletter{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.newsletter p {
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}
.home-links p{
  font-size: 1.5rem;
}
.forms {
  float: right;
}
.form-control1{
  padding: 4px;
  height: 38px; 
  width: 250px;
}
.button_1{
  height: 38px;
  background: #e8491d;
  border: none;
  padding: 0 20px 0 20px;
  color: #fff;
  /* padding-left: 20px ; */

}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form{
  margin-top:3rem;
}
.home-links{
  margin-top: 2rem;
}
#about{
  height:80vh;
  padding:2rem;
}

footer{
  background: #181818;
  text-align-last: center;
  padding: 2rem;
  color:#fff;
}